h1{
    text-align: justify;
}

h2{
    text-align: justify;
}

.moda {
    background-color: #BB86FC;
    color: #FFF;
   
    
}

.casa {
    background-color: aqua;
    color: #FFF;
  
}

tr, td {
    background-color: #424250;
    color: #FFF;
    font-size: 25px;
    padding: 20px;
    margin: 20px;

}